body {
display: flex;
align-items: center;
justify-content: space-evenly;

}

div#wrapper {
 text-align: left;
 width: 980px;
 margin: 0 auto;
}
#navbar {
 background-color: #8EC1CC;
 padding: 5px 10px;
 border-left: 1px solid gray;
 border-right: 1px solid gray;
 border-top: 1px solid gray;
 clear: right;
}
#navbar a {
 color: black;
 text-decoration: none;
}
#navbar a:hover,
#navbar a:active,
#navbar a:focus
{
 color: white;
}
#banner {
 background-color: #448C9A;
 padding: 5px;
 width: 100%;
 border-left: 1px solid gray;
 border-right: 1px solid gray;
}
#banner img {
 width: 200px;
 border: none;
}
#maintitle {
 color: white;
 font-size: 28pt;
 font-weight: bold;
}
#subtitle {
 color: #3C0;
 font-size: 14pt;
 font-weight: bold;
}
#mainbody {
 padding: 10px;
 background-color: white;
 border-left: 1px solid gray;
 border-right: 1px solid gray;
}
#mainbody a {
 text-decoration: none;
 color: #393ECE;
}
#mainbody a:hover,
#mainbody a:active,
#mainbody a:focus
{
 text-decoration: underline;
 color: #FF9A35;
}
#footer {
 font-size: 80%;
 text-align: center;
 margin-top: 0px;
 padding: 10px;
 background-color: white;
 border-left: 1px solid gray;
 border-right: 1px solid gray;
 border-bottom: 1px solid gray;
}
table.booklist {
 width: 100%;
 border-collapse: collapse;
}
table.booklist td,
table.booklist th {
 border: 0px solid #eee;
 padding: 5px;
}
table.booklist th {
 background-color: #e4f1fe;
 border-top: 1px solid black;
 border-bottom: 1px solid black;
}
table.booklist tr:nth-child(even) {
 background-color: #f9f9f9;
}
table.bookdetails {
 width: 100%;
 border-collapse: collapse;
}
table.bookdetails td {
 vertical-align: top;
}
table.bookdetails h4, table.bookdetails p {
 margin: 0px 0px 10px 10px;
}
